# Global
*.DS_Store
Desktop.ini
Thumbs.db

# Project
!.keep
*.sass-cache
/_assets/yarn/
/_site/
/.jekyll-cache/
Gemfile.lock
package-lock.json
yarn.lock
.idea

npm*

# Relocate folders in the future
vendor/
node_modules/
/.bundle/
Brewfile